<h3>Country List</h3>

@foreach (var )
<h3>@Model["country"].GetName()</h3>
<h4>Code: @Model["country"].GetCode()</h4>
<h5>Name: @Model["country"].GetName()</h4>
<h5>Continant: @Model["country"].GetContinent()</h4>
<h5>Population: @Model["country"].GetPopulation()</h4>
